@import 'variables';

.card {
    border: 1px solid var(--border-color);
    overflow: hidden;

    &__state-message {
        margin: 0;
        font-size: 2rem;
    }

    &__header {
        opacity: 0;
        transition: 0.3s ease-in-out;
        min-height: 6.5rem;

        &--visible {
            opacity: 1;
        }
    }

    &__content {
        padding: 5rem 0;
        border-top: 1px solid var(--border-color);
        border-bottom: 1px solid var(--border-color);
        text-align: center;

        // Stretches the content to the container width

        margin: 0 -16px;
    }

    &__footer {
        padding: 3rem;
        text-align: center;
        color: #666;
    }
}
