<div class="board">
    <div class="board__header center-row center-row--xy">
        <button
            mat-button
            color="secondary"
            class="button board__header__btn"
            type="button"
            data-testid="reset-button"
            (click)="onResetGame()"
        >
            <mat-icon>exit_to_app</mat-icon>
            start new game
        </button>
    </div>

    <div class="container flex-grow-1 w-100 center-row center-row--xy">
        <div class="board__content">
            <app-players class="board__players"></app-players>
            <app-cards class="board__cards" [resourceType]="resourceType" [resources]="resources"></app-cards>
        </div>
    </div>
</div>
